# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Logs
logs/
*.log

# dotenv environment variables file
.env
.env.test

# vscode config directory
.vscode/

# Enmap cache directory
data/
